@import url('https://fonts.googleapis.com/css?family=Courgette');
#message-pane {
    background: url(https://m.popkey.co/03cbc3/g34pg.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center
}
.message-card{
    max-width : 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    box-shadow: 10px 10px 5px 0px rgb(0,255,255);
}
.message-time{
    margin-top : 4px;
    float : right;
    color : rgb(255, 255, 255);
    font-size : 12px;
}
#form-card{
margin: 0px;
}